* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-size: 100%;
    background-color: #fff;
    line-height: 1.6;
}

/*Navbar*/
.navbar {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
}

.logo span {
    color: #977828;
}

.logo a {
    color: #CBA135;
    text-decoration: none;
    font-weight: 800;
    font-size: 24px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu .biasa-h a:hover {
    color: #D4A017;
}

.menu .tentang-h a:hover {
    color: #4E1F00;
}

.navbar ul {
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.tentang {
    display: inline-block;
    color: #fff;
    background-color: #CBA135;
    padding: 0px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.biasa {
    color: #4E1F00;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Section Main */
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 97px;
}

.content-judul {
    margin-top: 85px;
    text-align: center;
    margin-bottom: 50px;
}

.content-judul h1 {
    font-size: 32px;
    color: #4E1F00;
}

.content-judul span {
    color: #CBA135;
}

.content-judul span1 {
    color: #977828;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 kolom */
    gap: 60px;
}

.card {
    text-align: center;
    background-color: #F8F4E1;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
}

.judul_kelas {
    display: inline-block;
    font-size: 24px;
    background-color: #CBA135;
    color: #F8F4E1;
    padding: 0px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.info-kelas {
    color: #4E1F00;
    text-align: left;
    font-size: 20px;
    margin: 5px 0;
}

.card button {
    background-color: #4E1F00;
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
}

.card button:hover {
    background-color: #331d00;
}

/* Footer */
.footer {
    background-color: #4E1F00;
    color: #fff;
    padding: 80px 150px;
    text-align: center;
}

.footer .judul h2 {
    color: #CBA135;
    font-size: 48px;
    margin-bottom: 50px;
    font-weight: 800;
}

.footer .judul span {
    color: #977828;
}

.footer .link-kosong {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 20px;
    margin: 50px 100px;
}

.tmbl-faq {
    text-decoration: none;
    color: white;
}

.tmbl-faq:hover {
    color: #CBA135;
}

.footer .lokasi p {
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 30px;
    margin: 50px 100px;
}
.footer .copyright p {
    font-size: 18px;
    font-weight: 100;
}